html {
  font-family:
    Segoe UI,
    Roboto,
    Arial,
    Helvetica,
    sans-serif;
}

body {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

#app {
  display: flex;
  min-height: 100vh;
}

main {
  flex: auto;
  padding: var(--ident);
}

a:visited {
  color: inherit;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

ul {
  li {
    list-style: none;

    & + li {
      margin-top: 0.5rem;
    }
  }
}

select {
  padding: var(--ident-quarter);
}
