html {
  font-family:
    Segoe UI,
    Roboto,
    Arial,
    Helvetica,
    sans-serif;
}

body {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

#app {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

main {
  overflow: auto;
  padding: var(--ident);
  flex: 9;
}

p {
  margin: 0;
  line-height: 1.5;

  & + & {
    margin-top: var(--ident-half);
  }
}

a {
  color: var(--link-color);
  text-decoration: none;

  &:visited {
    color: var(--link-color);
  }
}

ul,
ol {
  margin: 0;
  padding: 0;
}

ul {
  li {
    list-style: none;

    & + li {
      margin-top: var(--ident-half);
    }
  }
}

ol {
  padding-left: var(--ident);

  li {
    & + li {
      margin-top: 0.5rem;
    }
  }
}

select {
  padding: var(--ident-quarter);
}

input,
textarea {
  border: 1px solid var(--blue);
  padding: var(--ident-quarter);
}

dialog {
  padding: 0;
  border: none;
  box-shadow: var(--shadow-options);

  &[open]::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
  }
}
