:root {
  --black: #000;
  --dark: #293241;
  --orange: #ee6c4d;
  --light-blue: #e0fbfc;
  --blue: #98c1d9;
  --dark-blue: #3d5a80;
  --white: #fff;

  --padding: 1rem;
  --animation-options: 0.5s ease-out;
  --shadow-options: 0 0 0.5rem;
}
