:root {
  --black: #000;
  --dark: #293241;
  --orange: #ee6c4d;
  --light-blue: #e0fbfc;
  --blue: #98c1d9;
  --dark-blue: #3d5a80;
  --white: #fff;

  --button-blue: #007bff;

  --link-color: var(--button-blue);

  --ident: 1rem;
  --ident-half: calc(var(--ident) / 2);
  --ident-quarter: calc(var(--ident) / 4);
  --ident-double: calc(var(--ident) * 2);

  --animation-options: 0.5s ease-out;
  --animation-options-fast: 0.25s ease-out;
  --shadow-options: 0 0 0.5rem;
}
